@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Rubik:wght@400;700&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#root{
  display: flex;
  flex-direction: column;
  
  width: 1440px;
  background-image: url("./assets/background-body.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.hidden{
  display: none;
}